<br />
<br />
<br />

<center><h1>Search the Pathways!</h1></center>
<br />
<br />
<br />


<div class="row">

	<center>
		<form accept-charset="UTF-8" action="search" method="get">

		    <input class="input-xxlarge" id="schoolSearch" name="schoolSearch" type="text" placeholder="Where did you go to school?" />
		    <br />
		    <br />

		    <input class="input-xxlarge" id="jobSearch" name="jobSearch" type="text" placeholder="Where do you want to work?" />
		    <br />
		    <br />

		    <button class="btn btn-large btn-info btn-xxlarge" type="submit">Fetch my Pathways!</button>
		</form>
	</center>
</div>