<h1>Person#index</h1>
<p>Find me in app/views/person/index.html.erb</p>

<h1>Listing persons</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @persons = @persons.uniq %> 
<% @persons.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.first_name %></td>
  </tr>
<% end %>
</table>
 
<br />

